<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="card">
            <h1 class="title">Youtube<span class="accent">DL</span></h1>
            <form action="/" method="POST" class="form">
                <div class="input-group">
                    <input name="linkyoutube" id="search-bar-link" class="search-bar" type="text" placeholder="Paste YouTube link...">
                    <select class="drop-down" name="extensions" id="extensions">
                        <option value="MP4">MP4</option>
                        <option value="M4A">M4A</option>
                        
                    </select>
                </div>
                <button class="download-button">Download</button>
            </form>
        </div>
        <footer>Made by Dan Grigorescu using Flask & PytubeFix</footer>
    </div>
</body>
</html>
